<p id="notice"><%= notice %></p>

<h1>Poses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poses.each do |pose| %>
      <tr>
        <td><%= pose.name %></td>
        <td><%= pose.image %></td>
        <td><%= pose.category %></td>
        <td><%= link_to 'Show', pose %></td>
        <td><%= link_to 'Edit', edit_pose_path(pose) %></td>
        <td><%= link_to 'Destroy', pose, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pose', new_pose_path %>
