<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pose.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @pose.image %>
</p>

<p>
  <strong>Category:</strong>
  <%= @pose.category %>
</p>

<%= link_to 'Edit', edit_pose_path(@pose) %> |
<%= link_to 'Back', poses_path %>
